Source: ros-jazzy-imu-complementary-filter
Section: misc
Priority: optional
Maintainer: Martin Günther <martin.guenther@dfki.de>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, libgeometry-msgs-dev, libmessage-filters-dev, libsensor-msgs-dev, libstd-msgs-dev, libtf2-dev, libtf2-ros-dev, python3-geometry-msgs, python3-message-filters, python3-sensor-msgs, python3-std-msgs, python3-tf2, python3-tf2-ros, ros-geometry-msgs, ros-jazzy-rclcpp, ros-sensor-msgs, ros-std-msgs, ros-jazzy-ros-workspace
Homepage: http://www.mdpi.com/1424-8220/15/8/19302
Standards-Version: 3.9.2

Package: ros-jazzy-imu-complementary-filter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-ros-workspace
Description: Filter which fuses angular velocities, accelerations, and (optionally) magnetic readings from a generic IMU device into a quaternion to represent the orientation of the device wrt the global frame.
 Based on the algorithm by Roberto G. Valenti etal. described in the paper &quot;Keeping a Good Attitude: A Quaternion-Based Orientation Filter for IMUs and MARGs&quot; available at http://www.mdpi.com/1424-8220/15/8/19302 .
